.modal {
  display: none;
  &.active {
    display: block;
  }
}
.modal__overlay {
  opacity: 0.8;
  visibility: visible;
  background-color: #323338;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 101;
  transition: all 0.3s ease 0s;
}

.modal__body {
  background-color: #fff;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 250px;
  margin: -230px 0 0 -185px;
  z-index: 1001;
  box-sizing: border-box;
  padding: 2% 4%;
  text-align: center;
}

.modal__message {
  font-size: 24px;
  color: #60759d;
  margin-bottom: 40px;
  font-weight: 300;
}
